# sbt
project/project
target
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IntelliJ
.idea

# Ensime
.ensime
.ensime_lucene
.ensime_cache/

# Eclipse
.scala_dependencies
.worksheet
.classpath
.project
.target

# Mac
.DS_Store
